html {
  width: 100%;
  height: 100%;
}

body {
  font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #000000;
}

.terminal {
  z-index: 1;
  padding: 15px;
  position: absolute;
  top: 3%;
  right: 3%;
  bottom: 3%;
  left: 3%;
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: transparent;
}

.terminal::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: #212121;
}

.terminal::-webkit-scrollbar {
  width: 10px;
  background-color: lighter(#212121, 50%);
}

.terminal::-webkit-scrollbar-thumb {
  border-radius: 2px;
  box-shadow: inset 0 0 5px black;
  background-color: #444;
}

@keyframes type {
  from {
    width: 0ch;
  }

  to {
    width: 100%;
  }
}

.terminal p,
table {
  font-size: 11pt;
  margin: 10px 0;
  white-space: nowrap;
  overflow: hidden;
  animation: type 10s steps(60, end) backwards;
  color: #ffffff;
  font-family: "VT323", monospace;
}

.terminal p.break {
  margin: 1px 0 15px 0;
}

p::before {
  content: ">";
  margin-right: 10px;
}

.head {
  text-decoration: underline;
}

td {
  border-style: dotted;
  border-right-width: 1px;
}

td:last-child {
  border-right-width: 0px;
}

tr:last-child td {
  border-bottom: none;
}

table {
  table-layout: fixed;
  text-align: center
}

p:last-child {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}


svg {
  display: block;
  width: 30%;
  margin: auto;

}

#coder {
  animation: dash 5s linear forwards;
  stroke-dasharray: 5000;
  stroke-dashoffset: 5000;
}

@keyframes dash {
  to {
    stroke-dashoffset: 5;
  }
}

#colors {
  opacity: 0;
  animation: colorIn 5s 5s ease-out forwards;
}

@keyframes colorIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  svg {
    width: 100%;
  }
}
